.nav-bar {
  display: flex;
  background-color: white;
  max-width: 360px;
  color: black;
  img {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
  }
  .title {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-left: 1px solid #ccc;
    text-align: left;
    .main {
      font-size: 18px;
    }
    .sub-title {
      font-size: 12px;
    }
  }
}
