/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Finger Paint", cursive;
  background-color: black;
  color: greenyellow;
  font-size: 14px;
  text-align: center;
}
